/* Definindo variáveis para fontes */
:root {
    --fonte-principal: 'Poppins', sans-serif;
    /* fonte principal */
    --fonte-secundaria: 'Roboto', sans-serif;
    /* fonte secundária */
    --tamanho-texto: 16px;
    /* tamanho padrão do texto */
    --cor-vermelha: #ff0000;
    --cor-text: #fff;
    --cor-text-favorites: #212121;
}

html {
    width: auto;
}

body {
    width: auto;
    height: 100%;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.navigation .round-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    display: none;
}

.navigation button {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    font-family: var(--fonte-secundaria);
    font-size: var(--tamanho-texto);
    line-height: 2rem;
    font-weight: 700;

    color: var(--cor-text);
    background: var(--cor-vermelha);
    border: 1px solid var(--cor-vermelha);
    box-shadow: 1px 2px 0 var(--cor-vermelha), 2px 4px 6px var(--cor-vermelha);
    letter-spacing: 1px;
    transition: all 200ms linear;
}

.navigation button:hover {
    background: var(--cor-vermelha);
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.2);
    color: var(--cor-text);
    text-decoration: none;
    text-shadow: -1px -1px 0 var(--cor-vermelha);
    transition: all 250ms linear;
}

#favoritesCount-web {
    background-color: yellow;
    padding: 0px 5px;
    border-radius: 50%;
    color: var(--cor-text-favorites);
    margin-left: 4px;
}

#favoritesCount-mobile {
    background-color: yellow;
    padding: 0px 5px;
    border-radius: 50%;
    color: var(--cor-text-favorites);
    margin-left: 4px;
}

@media (max-width: 226px){

    .responsive-button {
        width: 60px;
        height: 60px;
        font-size: 0;
        /* Oculta o texto */
    }
    
    .navigation {
        padding: 10px;
        border-radius: 50%;
        width: 50%;
    }

    .round-button {
        color: white;
        border: none;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        display: flex;
        flex-direction: column;
        /* Mudança para coluna */
        justify-content: center;
        align-items: center;
        font-size: 1.2em;
        /* Ajuste de tamanho do ícone */
        position: relative;
        padding-right: 6px !important;
        padding-top: 40px !important;
    }

    #favoritesCount-mobile {
        position: absolute;
        top: -5px;
        right: -5px;
        color: white;
        border-radius: 50%;
        font-size: 15px;
        width: 23px;
        height: 28px;
        padding-left: 3px;
        padding-right: 3px;
    }


    /* Esconder textos nos botões em dispositivos menores que 768px */
    .navigation .round-button {
        width: 60px;
        height: 60px;
        font-size: 0;
        /* Oculta o texto */
    }

    .web {
        display: none;
    }

    .icon {
        display: block;
        font-size: 25px !important;
    }

    .navigation .round-button .icon {
        font-size: initial;
        /* Garante que o ícone tenha tamanho normal */
    }
}