:root {
    --cor-background: #212121;
    /* cor de fundo padrão */
}

html,
body {
    height: 100%;
    background-color: var(--cor-background);
}

body {
    overflow: hidden;
}

.container {
    display: flex;
    height: 100vh; /* Alterado para ocupar toda a altura da tela */
    margin-top: 10px;
}

iframe {
    border: 1px;
}

#mf_drawer {
    position: relative;
    width: auto;
    height: 100%;
}

#mf_videos {
    width: 100%;
    height: 100%;
}

#div-mf_videos {
    width: 82%;
    height: auto; /* Ajustado para altura automática */
}

@media (max-width: 1660px) {
    #div-mf_drawer {
        width: 18%;
        height: 100%;
    }
    
    #div-mf_videos {
        width: 81%;
        height: 100%;
    }
}
